{% extends 'base.html.twig' %}

{% block title %}SexShop{% endblock %}

{% block body %}
<div class="container-fluid articleContainer p-3">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6 px-2">
            <div class="card shadow mb-5">
                <center><img src="{{ asset(product.img) }}" class="card-img-top" style="max-width:600px;width: 100%"></center>
            </div>
        </div>
    </div>
</div>
{% endblock %}
